<%= form_with(model: @kitten) do |f| %>
    <% if @kitten.errors.any? %>
        <div id="error_explanation">
            <h2>This is a pretty easy form, please fill it out right</h2>

            <ul>
                <% @kitten.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="actions">
        <div class="field">
            <%= f.label :name, class: 'label' %>
            <div class="control">
                <%= f.text_field :name, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :age, class: 'label' %>
            <div class="control">
                <%= f.text_field :age, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :cuteness, class: 'label' %>
            <div class="control">
                <%= f.text_field :cuteness, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :softness, class: 'label' %>
            <div class="control">
                <%= f.text_field :softness, class: 'input' %>
            </div>
        </div>
        <%= f.submit message, class: 'button' %>
    </div>
<% end %>