<h3 class="is-size-3">Update Kitten</h3>
<%= form_with(model: @kitten) do |f| %>
    <div class="actions">
        <div class="field">
            <%= f.label :name, class: 'label' %>
            <div class="control">
                <%= f.text_field :name, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :age, class: 'label' %>
            <div class="control">
                <%= f.text_field :age, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :cuteness, class: 'label' %>
            <div class="control">
                <%= f.text_field :cuteness, class: 'input' %>
            </div>
        </div>
        <div class="field">
            <%= f.label :softness, class: 'label' %>
            <div class="control">
                <%= f.text_field :softness, class: 'input' %>
            </div>
        </div>
        <%= f.submit 'Update Kitten\'s Information', class: 'button' %>
    </div>
<% end %>