<h3 class="is-size-3">Kitten Data</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>    
            <th>Name</th>
            <th>Age</th>
            <th>Cuteness</th>
            <th>Softness</th>
        </tr>

        <% @kittens.each do |kitten| %>
            <tr>
                <th><%= kitten.id %></th>
                <th><%= kitten.name%></th>
                <th><%= kitten.age%></th>
                <th><%= kitten.cuteness %></th>
                <th><%= kitten.softness%></th>
            </tr>
        <% end %>
    </thead>
</table>