<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice centered-text notification notice is-primary" onload="notificationTimeOut()"><%= notice %></p>
    <% end%>
    <% if flash[:alert] %>
      <p class="alert centered-text notification notice is-danger" onload="notificationTimeOut()"><%= alert %></p>
    <% end %>
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <%= yield %>
      <div>
    </div>
  </body>
</html>
